body {
	background-color: rgb(20, 41, 20);
	max-width:1700px;
	margin:auto;
}

h1 {
	color:white;
	font-size:3em;
}

header {
	margin: auto;
	text-align: center;
}

#initial-message {
	max-width:1200px;
	visibility:hidden;
	text-align: left;
	padding: 0.5em 1em;
	color:white;
	margin:auto;
	font-size:1.5em;
}

#initial-message a {
	color:white;
}

main {
	text-align: center;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
	margin:auto;
	margin-top:3em;
	padding:0 150px;
}

section.day {
	width:200px;
	border:1px solid #333;
	border-radius: 15px;
	background-color: #EEE;
}

img {
	max-height:150px;
}

h2 + p img:nth-of-type(2) {
	display:none;
}

section.day:hover {
	background-color: #999;
}

section.day.active {
	background-color: #444;
}

section.pastDate {
	background: transparent;
	border-color: transparent;
}
section.pastDate > h2 {
	color:white;
}

section.dayContent {
	display:none;
}

section.dayContent {
	position:absolute;
	margin-top:-200px;
	margin-left:-100px;
	background: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	width: 400px;
	max-width: 85%;
	z-index:1;
	font-size:2em;
	max-height:500px;
	overflow-y: scroll;
}

.closeButton {
	background: #3498db;
	color: #fff;
	padding: 5px 10px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 10px;
	margin-top: -20px;
	font-weight: bold;
	float:right;
  }

footer {
	width: 60%;
	max-width: 600px;
	margin: auto;
	font-size: 0.9em;
	text-align: center;
	margin-top: 3em;
	border-top: 1px solid #bbb;
	padding-top: 1em;
	color:white;
	margin-bottom:1em;
}

footer a {
	color:white;
}

@media screen and (max-width: 500px) {
	main {
		font-size: 1.2em;
		margin-top: 1.5em;
		padding:10px;
	}
	#initial-message {
		font-size:1.2em!important;
	}
	footer a {
		display: inline-block;
	}
	.dayContent {
		margin-left:0!important;
		font-size:1.2em!important;
		max-height:initial!important;
		
	}
}